<form action="/login" method="POST">
    Email: <input type="text" name="email"></input>
    </br>
    Password: <input type="password" name="password"></input>
    </br>
    <input type="submit"></input>
</form>
</br>
<form action="/register" method="POST">
    Name: <input type="text" name="name"></input>
    </br>
    Email: <input type="email" name="email"></input>
    </br>
    Password: <input type="password" name="password"></input>
    </br>
    <input type="submit"></input>
</form>